/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fb;
    overflow: hidden;
    position: relative;
}

h1 {
    padding-top: 10px;
}

/* Square Styling */
.square {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

/* Treats Styling */
.treat {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}